@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

html {
  background-color: black;
}

body {
  padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5 {
  color: purple;
  font-family: "Creepster";
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.35rem;
}

/* nav rules */

nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  z-index: 15;
  border: 1px solid white;
  background-color: black;
}

.nav-links {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
}

.nav-links a li {
  list-style: none;
  color: white;
}

/* splash rules */

#splash {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: center;
  align-items: center;
}

#splash h1 {
  width: 50%;
  height: 30%;
  text-align: center;
  font-size: 7rem;
}

#splash h2 {
  text-align: center;
  font-size: 4rem;
}

/* about-me rules */

/* projects rules */

.project-box {
  height: 100px;
  width: 100px;
  background-color: blue;
}

/* contact rules */
