@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 52px;
}

/* nav */

nav {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: white;
  border: 1px solid black;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-links {
  list-style: none;
}

/* about-me */
/* skills */
/* projects */
/* contact */
